<mat-toolbar color="primary">
  <a mat-button routerLink="/">Inicio</a>
  <a mat-button routerLink="/products">Productos</a>
  <a mat-button routerLink="/new-product">Nuevo Producto</a>
</mat-toolbar>
<mat-card>
  <mat-card-title>Editar Producto</mat-card-title>
  <mat-card-content>
    <form (submit)="updateProduct()">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" name="name" [(ngModel)]="product.name" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Stock</mat-label>
        <input matInput type="text" name="stock" [(ngModel)]="product.stock" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Precio</mat-label>
        <input matInput type="text" name="price" [(ngModel)]="product.price" />
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="product.active" [ngModelOptions]="{ standalone: true }">Activo</mat-slide-toggle>
      <mat-form-field appearance="outline">
        <mat-label>Fecha Entrada</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Elige una fecha"
          name="date_added"
          [(ngModel)]="product.date_added"
          [ngModelOptions]="{ standalone: true }"
          readonly
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-card-actions
        ><button mat-raised-button color="warn" type="submit">
          Aplicar Cambios
        </button></mat-card-actions
      >
    </form>
  </mat-card-content>
</mat-card>
