<html>
<h1>App Mazing¡¡¡</h1>

<div class="button-container">
<a mat-button routerLink="/products"><button mat-raised-button color="primary">Tabla de Productos</button></a>
<a mat-button routerLink="/new-product"><button mat-raised-button color="primary">Nuevo Producto</button></a>
<a mat-button routerLink="/charts"><button mat-raised-button color="primary">Gráficas</button></a>
<a mat-button routerLink="/pricebigger"><button mat-raised-button color="primary">Consultas por precio</button></a>
</div>
</html>
